<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accordion-faq-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Bootstrap-Chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/some-message.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" width="192" height="99" style="padding-left: 33px;padding-right: 0px;margin-right: -1px;margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px;margin-top: 13px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="admin"><i class="fas fa-tachometer-alt"></i><span>Dashboard Admin</span></a><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="perfil"><i class="fas fa-user"></i><span>Perfil</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="far fa-times-circle"></i><span>Sair</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">Notificações</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">12 de Setembro, 2022</span>
                                                <p>O chamado #156 foi respondido.</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500"><br><span style="background-color: rgb(255, 255, 255);">02 de Setembro, 2022</span><br></span>
                                                <p>O que achou do seu atendimento?</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500"><br><span style="background-color: rgb(255, 255, 255);">07 de Outubro, 2022</span><br></span>
                                                <p>Atenção, precisamos de uma resposta no seu chamado</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">1</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">notificações via e-mail</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{ url_for('static', filename='img/avatars/avatar4.jpeg') }}">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Atendimento #156</span></div>
                                                <p class="small text-gray-500 mb-0">Richard - 58m</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Gustavo Ribeiro</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="perfil"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="font-family: 'Days One', sans-serif;text-align: left;font-size: 34px;">Chamado #156</h3>
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Dados do chamado</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="username"><strong>Título:</strong></label><input class="border rounded border-5 form-control d-xl-flex justify-content-xl-start" type="text" id="username" name="titulo" placeholder="Descreva o titulo do chamado" required=""></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="signature"><strong>Descrição:</strong><br></label><textarea class="border rounded border-5 form-control" id="signature-1" rows="4" name="descricao" placeholder="Descreva detalhadamente o motivo do chamado" required=""></textarea></div>
                                                </div><label class="form-label" for="first_name"><strong>Local:</strong></label><select class="border rounded border-5 form-select" required="" disabled="">
                                                    <option value="3">São Paulo - Sede 1</option>
                                                    <option value="2">Espírito Santo - Sede 2</option>
                                                    <option value="3" selected="">Minas Gerais - Sede 3</option>
                                                </select><label class="form-label" for="first_name" style="position: static;display: block;font-size: 13px;margin-top: 7px;"><strong>Não é possível&nbsp;alterar a localidade, finalize o chamado e abra outro na localidade desejada.</strong></label><label class="form-label" for="first_name" style="margin-top: 20px;"><strong>Prioridade:</strong></label><select class="border rounded border-5 form-select" required="" disabled="" style="padding-bottom: 2px;">
                                                    <option value="3">Alto</option>
                                                    <option value="2" selected="">Médio</option>
                                                    <option value="3">Baixo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>Receber notificações por E-mail</strong><br></label></div>
                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2"><strong>Receber notificações por SMS</strong><br></label></div><input class="form-control" type="file" style="margin-bottom: 20px;margin-top: 20px;">
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group"><button class="btn btn-primary btn-sm pulse animated" type="submit" style="width: auto;height: 40px;font-size: 19px;font-weight: bold;text-align: center;min-width: auto;background: var(--bs-green);border-style: none;border-color: var(--bs-border-color-translucent);">Atualizar chamado</button><a class="btn btn-primary btn-lg pulse animated" role="button" href="#myModal" data-bs-toggle="modal" style="width: auto;height: 40px;font-size: 19px;font-weight: bold;text-align: center;background: var(--bs-red);margin-left: 0;padding: 6px 16px;padding-top: 6px;padding-right: 8px;padding-bottom: 6px;padding-left: 8px;border-style: none;">Finalizar chamado</a></div>
                                </form>
                                <div>
                                    <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Finalizar chamado</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-center text-muted">Você tem certeza que deseja finalizar o chamado selecionado?</p>
                                                </div>
                                                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancelar</button><a class="btn btn-primary" role="button" href="#" style="background: var(--bs-red);">Finalizar chamado</a></div>
                                                <div class="modal fade" role="dialog" tabindex="-1" id="myModal-5">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4>Finalizar chamado</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-center text-muted">Você tem certeza que deseja finalizar o chamado selecionado?</p>
                                                            </div>
                                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancelar</button><a class="btn btn-primary" role="button" href="#" style="background: var(--bs-red);">Finalizar chamado</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Comentários</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-group" style="color: rgb(133,135,150);border-style: none;border-radius: 0px;">
                                    <li class="list-group-item">
                                        <div class="d-xl-flex justify-content-xl-start align-items-xl-center"><i class="far fa-user" style="color: rgb(133,135,150);"></i><span style="margin-left: 10px;font-weight: bold;color: rgb(133,135,150);">Gustavo Ribeiro</span></div>
                                        <div><span style="color: rgb(133,135,150);"><br><span style="color: rgb(0, 0, 0);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus tellus eget ligula fringilla bibendum. Vestibulum iaculis turpis sed dignissim hendrerit.</span><br><br></span></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-xl-flex justify-content-xl-end align-items-xl-center"><span style="margin-left: 10px;font-weight: bold;color: rgb(133,135,150);">Richard<i class="far fa-user" style="margin-bottom: 0px;margin-left: 10px;color: rgb(133,135,150);"></i></span></div>
                                        <div style="text-align: right;color: rgb(133,135,150);"><span style="text-align: right;color: rgb(133,135,150);"><br><span style="color: rgb(0, 0, 0);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus tellus eget ligula fringilla bibendum. Vestibulum iaculis turpis sed dignissim hendrerit.</span><br><br></span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © GOTech SA 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>